@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 90em) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 80em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 73.75em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 51.25em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 23.4375em) {
  html {
    font-size: 40%;
  }
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-image: linear-gradient(hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__banner {
  margin-top: 4rem;
  padding: 1.6rem 2.8rem;
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 10px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__banner--logo {
  margin-right: 33rem;
}
.header__banner--score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1.6rem 4.6rem;
  border-radius: 10px;
}
.header__banner--score-card--text {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: hsl(229deg, 64%, 46%);
}
.header__banner--score-card--score-num {
  font-size: 4.6rem;
  font-weight: 700;
  color: hsl(229deg, 25%, 31%);
}
@media only screen and (max-width: 51.25em) {
  .header__banner--logo {
    margin-right: 11rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .header {
    margin-bottom: 10rem;
  }
  .header__banner--logo {
    width: 120px;
  }
}

.hidden {
  display: none;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6rem;
}
.game__segment-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.game__segment-1--paper {
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
  background: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  margin-right: 7.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 1px hsla(230deg, 89%, 62%, 0.616);
  cursor: pointer;
}
.game__segment-1--paper--container {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 1px hsl(217deg, 16%, 45%);
  transition: all 0.25s ease;
}
.game__segment-1--paper--container:active {
  box-shadow: none;
}
.game__segment-1--scissor {
  height: 20rem;
  width: 20rem;
  background: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  border-radius: 100%;
  box-shadow: 0px 5px 1px hsla(39deg, 89%, 49%, 0.527);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.game__segment-1--scissor--container {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 1px hsl(217deg, 16%, 45%);
  transition: all 0.25s ease;
}
.game__segment-1--scissor--container:active {
  box-shadow: none;
}
.game__segment-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.game__segment-2--rock {
  height: 20rem;
  width: 20rem;
  background: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  border-radius: 100%;
  box-shadow: 0px 5px 1px hsla(349deg, 71%, 52%, 0.623);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.game__segment-2--rock--container {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 1px hsl(217deg, 16%, 45%);
}
.game__segment-2--rock--container:active {
  box-shadow: none;
}
@media only screen and (max-width: 23.4375em) {
  .game {
    background-size: 50%;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0 2.6rem;
  width: 100%;
}
.footer__cta {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.8rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  padding: 0.8rem 3.4rem;
  border-radius: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 23.4375em) {
  .footer {
    align-self: flex-end;
    margin-top: 12.8rem;
    justify-content: center;
  }
}

.rules {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: all 0.25s ease;
}
.rules__card {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}
.rules__card--content {
  width: 100%;
  margin-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rules__card--content--header {
  font-size: 2.6rem;
  color: hsl(229deg, 25%, 31%);
}
.rules__card--content--closer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 23.4375em) {
  .rules__card {
    width: 100%;
    height: 100%;
  }
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */