.footer{
    @include flexfunction(row,flex-end,center);
    
    margin-bottom: 3rem;
    padding: 0 2.6rem;
    width: 100%;
    height: 100%;
    
    &__cta{
        background: transparent;
        border: 2px solid white;
        color:white;
        font-size: $font-size-rg;
        font-family: $font-family;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        padding: 0.8rem 3.4rem;
        border-radius:$border-radius;
        cursor: pointer;
    }
    
    @media only screen and (max-width:$bp-mobile){
        align-items: flex-end;
        margin-top: 12.8rem;
        justify-content: center;
    }
}
