.rules{
    background:rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    @include flexfunction(row,center,center);
    transform: all .25s ease;

    &__card{
        background:white;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        padding: 4rem;
        &--content{
            width: 100%;
            margin-bottom: 2.8rem;
            @include flexfunction(row,space-between,center);
            &--header{
                font-size: 2.6rem;
                color:$color-dark-text;
            }
            &--closer{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
    &__mobile{
        display: none;
    }

    @media only screen and (max-width:$bp-mobile){
       &__card{
        display: none;
       }
       &__mobile{
        @include flexfunction(column,space-around,center);
        width: 100%;
        height: 100%;
        background: white;
        &--header{
            font-size: 4rem;
            font-weight: $font-weight-xl;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
        }
       }
        

    }
}

.hidden{
    display: none;
}
